.DS_Store

# Buck
buck-out/
.buckd/

# Downloaded buck
tools/buck

# Xcode
**/xcuserdata/
**/*.xcodeproj/
**/*.xcworkspace/

# Make
*.d
tools/scripts/private.sh
User.makefile
config/gen/*

# Cocoapods
third-party/Pods/*